<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="FMhCDEqW_cMHUrgrQ7_YtN7H7p_fQiX8WhkcpWCGYjE" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel = "stylesheet" href="{{
 url_for('static', filename='css/main.css')}}">
</head>
<body>

<img src="https://github.com/developerharry/Book-PDF-Download/blob/main/book%20pdf%20downloader.gif?raw=true">
<form action = "result" method = "post" >
    <P>Enter Book Name<br>We`ll serve you PDF links</P>
    <input type = "text" name = "book_name_input" /><br>
    <input type = "submit" value = "submit"  id = "book" onclick="show()" />
</form>
<img id="image" style="display:none" src="https://github.com/developerharry/Book-PDF-Download/blob/main/loding.gif?raw=true"/>
            
<script>
  function show() {
 
            /* Access image by id and change
            the display property to block*/
            document.getElementById('image')
                    .style.display = "inline";
}
</script>
    <P><br>Incase of any errors, use different keywords like book name + author or only book name.</P>
</body>
</html>
