body{
    background-color: slategray;
    text-align: center;
p{
    color: white;
    font-family: shanti;
    font-size: 1.2em;
    margin: 20px;
}

input{
    width: 300px;
    height: 50px;
    margin: 20px;
    border: none
    border-radius: 10px;
    font-family: shanti;
    text-align: center;
    font-size: 1.3;
}

#book{
    background-color = palevoiletred;
    color: white;
    width: 200px;
}

#book:hover{
    background-color = mediumvoiletred;
    cursor: pointer;
}


inpur:focus {
    border solid 5px #00FFCE;
    outline:none;
}



}