body{
    background-color : white;
    text-align: center
}
    
h1{
    color: Black;
    font-family: Sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}



p{
    color: mediumBlack;
    font-family: Sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-bottom:15px;
}

input{
    width: 400px;
    height: 50px;
    margin-bottom:15px;
    border-radius: 30px;
    font-family: Sans-serif;
    text-align: center;
    font-size: 1.5em;
}

#book{
    background-color : black;
    color: white;
    width: 200px;
    border-radius: 25px;
    font-family: Sans-serif;
    font-size:2em;
  
}


#book:hover{
    background-color : green;
    color: white;
    cursor: pointer;
}


input:focus {
    border solid 10px #00FFCE;
    outline:none;
}

@media screen and (max-width: 600px) {
  .h1, .p, .#book {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
}
input{
    width : 250px;
    height: 40px;
}
}
