body{
    text-align: center
   
}



h1{
    text-align: center
    color: Black;
    font-family: Sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}

p{
    text-align: center
    color: Black;
    font-family: Sans-serif;
    font-size: 1em;
    margin: 10px;
}
    
li{
    color: Black;
    font-family: Sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

input{
    background-color : black;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-family: Sans-serif;
    font-size:1.2em;
  
}


input:hover{
    background-color : green;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
  .h1, .p, .li, .#back {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
}

}
